/*Font: Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* Background colors*/
    --background-white: #FFFFFF;
    --background-grey100: #F3F6FF;
    --background-grey900: #F3F6FF;

    /* Text colors */
    --headline-light: #0B0F19; /* Light theme */
    --headline-dark: #FFFFFF;  /* Dark theme */
    --text-grey900: #0B0F19;
    --text-grey800: #33354D;
    --text-grey700: #565973; /* Body textcolor Light theme */
    --text-grey600: 147, 151, 174;
    --text-grey500: #b4b7c9;
    --text-white: #FFFFFF; /* textcolor Dark theme */

    /* Additional colors */
    --color-brand: #6366F1;
    --border-divider-grey400: #D4D7E5;
    --border-forms-grey300: #E2E5F1;
    --border-secondary-grey200: #EFF2FC;
  
    --padding-std: 16.25%;
    --transition-time: 0.2s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Utility Classes*/
.btn-s {
    background-color: var(--color-brand);
    color: var(--text-white);
    font-size: .9rem;

    border: none;
    border-radius: .25em;

    display: inline-block;
    padding: .6rem 1.25rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

.flex-cntr {
    display: flex;
    align-items: center;
}

.flex-cntr-cntr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-desktop {
    display: none;
}

/*End of utility classes*/


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    width: 100%;
}


.hero {
    background-color: #f163f1;
    max-width: 100%;
    padding-inline: var(--padding-std);

    display: grid;
    grid-template-areas: 
    "nav nav"
    "hero-text hero-pics";
}

.nav {
    grid-area: nav; 
    padding: 1.25rem 0;

    .group-left {
        gap: 3rem;

        margin-right: auto;
    }

    .group-right {
        gap: 2rem;

        margin-left: auto;
    }


    .siliconlogo {
        max-height: 45%;
        max-width: 45%;
    }

    a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--text-grey800);
        line-height: 160%;
    }

    small {
        font-size: 1rem;
        font-weight: 600;
        line-height: 160%;
        color: var(--text-grey700);

    }
    .slider{
        margin-left: 1rem;
        }
}

.hero-text {
    grid-area: hero-text;
}

.hero-pics {
    grid-area: hero-pics;
    position: relative;
    overflow: hidden;
}

h1.display {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 130%;
}

.brands {
    background-color: var(--background-white);
    gap: 1rem;

    .brand-box {
    border: 1px solid var(--border-forms-grey300);
    border-radius: .5em;
    padding: 2rem;
    }
}

.features {
    background-color: var(--background-white);
}

.functionality {

    .main-functions {
    background-color: var(--background-grey100)
    }
    .more-functions {
        background-color: var(--background-white);
    }
    
}

.reviews {
    background-color: var(--background-grey100);
}

.FAQ {
    background-color: var(--background-white);
}

.newsletter {
    background-color: var(--background-grey100)
}
.footer {
    color: rgba(var(--text-grey600), 0.8);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    gap: 0.2rem;

    padding-block: 3rem;
}

/*TABLET*/
@media (max-width: 768px) {
    body {
        background-color: hotpink;
    }
}

/*MOBILE*/
@media (max-width: 480px) {
    body {
        background-color: lightseagreen;
    }
}