/*Font: Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* Background colors*/
    --background-white: #FFFFFF;
    --background-grey100: #F3F6FF;
    --background-grey900: #F3F6FF;

    /* Text colors */
    --headline-light: #0B0F19; /* Light theme */
    --headline-dark: #FFFFFF;  /* Dark theme */
    --text-grey900: #0B0F19;
    --text-grey800: #33354D;
    --text-grey700: #565973; /* Body textcolor Light theme */
    --text-grey600: 147, 151, 174;
    --text-grey500: #b4b7c9;
    --text-white: #FFFFFF; /* textcolor Dark theme */

    /* Additional colors */
    --color-brand: #6366F1;
    --border-divider-grey400: #D4D7E5;
    --border-forms-grey300: #E2E5F1;
    --border-secondary-grey200: #EFF2FC;
  

    --transition-time: 0.2s
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Utility Classes*/


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* a {
    color: ;
} */

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #6366F1;
    width: 100%;

    display: grid;
    grid-auto-rows: auto, 80vh;
    grid-template-areas: 
    "nav nav"
    "hero-text hero-pics";
}

.nav {
    grid-area: nav; 
    width: 100%;
    display: flex;
}

.hero-text {
    grid-area: hero-text;
    display: flex;
    flex-direction: column;

}

.hero-pics {
    grid-area: hero-pics;
    position: relative;
    overflow: hidden;
}

h1.display {
    font-size: 56px;
}

.brands {
    background-color: var(--background-white);

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    

    .brand-box {
    border: 1px solid var(--border-forms-grey300);
    border-radius: .5em;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    }
}

.features {
    background-color: var(--background-white);
}

.functionality {
    display: flex;
    flex-direction: column;

    .main-functions {
    background-color: var(--background-grey100)
    }
    .more-functions {
        background-color: var(--background-white);
    }
    
}

.reviews {
    background-color: var(--background-grey100);
}

.FAQ {
    background-color: var(--background-white);
}

.newsletter {
    background-color: var(--background-grey100)
}
.footer {
    color: rgba(var(--text-grey600), 0.8);
    font-size: 14px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.2rem;  
}

/*TABLET*/
@media (max-width: 768px) {
    body {
        background-color: hotpink;
    }
}

/*MOBILE*/
@media (max-width: 480px) {
    body {
        background-color: lightseagreen;
    }
}